<div class="hero-unit">
<%= form_for(@contractor) do |f| %>

<h3>Professional Information:</h3>
<div class="field">
  <%= f.label:title, "Your Profession" %>
  <%= f.text_field :title %>
  <div class="field">
  <%= f.label:skills %>
  <%= f.text_area :skills, :rows =>"3", :cols=>"30" %>
<br />
<h3>Educational Background:</h3>
<div class="field">
  <%= f.label:school %>
  <%= f.text_field :school %>
<div class="field">
  <%= f.label:degree, "Type of Degree obtained" %>
  <%= f.text_field :degree %>
 <br /> 
  <h3>Your Location:</h3>
  <div class="field">
    <%= f.label:city %>
  <%= f.text_field :city %>
  <div class="field">
    <%= f.label:state %>
  <%= f.text_field :state %>

<br />
  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary" %>
  </div>
  <% end %>
</div>
  <br />
